<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ホーム</title>
</head>

<link rel="stylesheet" th:href="@{/css/common.css}" />
<link rel="stylesheet" th:href="@{/css/home.css}" />



<body class="home-page">
  <h1>Employee Review System</h1>
  <nav>
    <button onclick="location.href='/company'">会社概要</button>
    <button onclick="location.href='/organization'">組織図</button>
    <button onclick="location.href='/employees'">社員一覧</button>
  </nav>
</body>
</html>
